@charset "UTF-8";
/*
* Another eden team picker style
* Designed for Another eden team picker
* Copyrighted AlexWong
 */
/* line 1, ../sass/_page.scss */
body {
  min-width: 320px;
}
/* line 3, ../sass/_page.scss */
body h1, body h2, body h3, body h4, body h5 {
  font-family: "微軟正黑體", "Microsoft Sans Serif", serif;
}

/* line 8, ../sass/_page.scss */
.top-fixed-nav {
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
}
/* line 17, ../sass/_page.scss */
.top-fixed-nav .nav-item .nav-link {
  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
}
/* line 22, ../sass/_page.scss */
.top-fixed-nav .nav-item .dropdown-item {
  border: 1px solid;
}

/* line 29, ../sass/_page.scss */
.content-tabs {
  padding-top: 40px;
}

/* line 32, ../sass/_page.scss */
.tab-content {
  padding-bottom: 40px;
}
/* line 35, ../sass/_page.scss */
.tab-content .story-scroll-nav .nav-item {
  padding-right: 2px;
}
/* line 37, ../sass/_page.scss */
.tab-content .story-scroll-nav .nav-item .dropdown-toggle {
  padding-left: 10px;
  padding-right: 5px;
}
/* line 41, ../sass/_page.scss */
.tab-content .story-scroll-nav .nav-item > .nav-link {
  padding-left: 5px;
  padding-right: 5px;
}
/* line 48, ../sass/_page.scss */
.tab-content .story-scroll-panel {
  overflow-y: scroll;
  height: 500px;
}

/* line 54, ../sass/_page.scss */
.fixed-bottom-panel {
  position: fixed;
  bottom: 0;
  height: 38px;
}
/* line 59, ../sass/_page.scss */
.fixed-bottom-panel .panel-body .btn-group {
  position: relative;
}
/* line 61, ../sass/_page.scss */
.fixed-bottom-panel .panel-body .btn-group .btn {
  border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border: 1px solid dodgerblue;
}
/* line 67, ../sass/_page.scss */
.fixed-bottom-panel .panel-body .btn-group .open-detail {
  display: block;
}
/* line 70, ../sass/_page.scss */
.fixed-bottom-panel .panel-body .btn-group .close-detail {
  display: none;
}

/* line 78, ../sass/_page.scss */
.btn .icon {
  width: 20px;
  display: inline-block;
  overflow: visible;
}
/* line 82, ../sass/_page.scss */
.btn .icon img {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 4px;
  left: 7px;
}

/* line 94, ../sass/_page.scss */
table i {
  cursor: pointer;
}
/* line 98, ../sass/_page.scss */
table .media img {
  width: 50px;
  height: 50px;
}
/* line 102, ../sass/_page.scss */
table .media h5 {
  font-family: "微軟正黑體", "Microsoft Sans Serif", serif;
  font-weight: bold;
  margin: 0px;
}
/* line 109, ../sass/_page.scss */
table input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
/* line 112, ../sass/_page.scss */
table input.light-shadow, table input.as-book-input {
  padding: 0;
  text-align: center;
}

/* line 119, ../sass/_page.scss */
.extra-story-item .custom-control-label, .extra-setting-item .custom-control-label {
  line-height: 20px;
}

/* line 125, ../sass/_page.scss */
.main-story-btn-group .btn {
  margin-bottom: 3px;
  border-radius: 0;
}
/* line 129, ../sass/_page.scss */
.main-story-btn-group .btn-secondary {
  background-color: lightgrey;
  border-color: lightgrey;
  color: black;
}

/* line 136, ../sass/_page.scss */
.star-gray {
  color: darkgray;
}

/* line 139, ../sass/_page.scss */
.star-red {
  color: red;
}

/* line 142, ../sass/_page.scss */
.star-as-type {
  color: cornflowerblue;
}

/* line 146, ../sass/_page.scss */
.result-editor {
  font-family: sans-serif;
}
