body{
  min-width: 320px;
  h1,h2,h3,h4,h5{
    font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft Sans Serif", serif;
  }
}

.top-fixed-nav{
  position: fixed;
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
  .nav-item{
    .nav-link{
      border-radius: 0px 0px 5px 5px;
      -moz-border-radius: 0px 0px 5px 5px;
      -webkit-border-radius: 0px 0px 5px 5px;
    }
    .dropdown-item{
      border: 1px solid;
    }
  }

}

.content-tabs{
  padding-top: 40px;
}
.tab-content{
  padding-bottom: 40px;
  .story-scroll-nav{
    .nav-item{
      padding-right: 2px;
      .dropdown-toggle{
        padding-left: 10px;
        padding-right: 5px;
      }
      & > .nav-link{
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }

  .bootstrap-table{
    .fixed-table-body{
      .fixed-table-loading{
        span.loading-wrap{
          span.loading-text{
            font-size: 16px;
          }
        }
      }
    }
  }

  .story-scroll-panel{
    overflow-y: scroll;
    height: 500px;
  }
}

.fixed-bottom-panel{
  position: fixed;
  bottom: 0;
  height: 38px;
  .panel-body{
    .btn-group{
      position: relative;
      .btn{
        border-radius: 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        -webkit-border-radius: 5px 5px 0px 0px;
        border: 1px solid dodgerblue;
      }
      .open-detail{
        display: block;
      }
      .close-detail{
        display: none;
      }
    }
  }
}

.btn{
  .icon{
    width: 20px;
    display: inline-block;
    overflow: visible;
    img{
      height: 30px;
      width: 30px;
      position: absolute;
      top: 4px;
      left: 7px;
    }
  }
}

.element-animation{
  animation: animationFrames linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% , 45% , 100%{
    opacity: 0;
  }
  50%, 95% {
    opacity: 1;
  }
}

@-moz-keyframes animationFrames{
  0% , 45% , 100%{
    opacity: 0;
  }
  50%, 95% {
    opacity: 1;
  }
}

@-webkit-keyframes animationFrames {
  0% , 45% , 100%{
    opacity: 0;
  }
  50%, 95% {
    opacity: 1;
  }
}

@-o-keyframes animationFrames {
  0% , 45% , 100%{
    opacity: 0;
  }
  50%, 95% {
    opacity: 1;
  }
}

@-ms-keyframes animationFrames {
  0% , 45% , 100%{
    opacity: 0;
  }
  50%, 95% {
    opacity: 1;
  }
}


table{
  i{
    cursor: pointer;
  }
  .media{
    .character-image{
      position: relative;
      width: 50px;
      height: 50px;
      overflow: hidden;
    }
    img{
      width: 50px;
      height: 50px;
      &.image-as{
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    h5{
      font-family: 'Noto Sans TC', "微軟正黑體", "Microsoft Sans Serif", serif;
      font-weight: bold;
      margin: 0px;
    }
  }

  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input.light-shadow, input.as-book-input{
    padding: 0;
    text-align: center;
  }
}

.extra-story-item, .extra-setting-item{
  .custom-control-label{
    line-height: 20px;
  }
}

.main-story-btn-group{
  .btn{
    margin-bottom: 3px;
    border-radius: 0;
  }
  .btn-secondary{
    background-color: lightgrey;
    border-color: lightgrey;
    color: black;
  }
}

.star-gray{
  color: darkgray;
}
.star-red{
  color: red;
}
.star-as-type{
  color: cornflowerblue;
}

.result-editor{
  font-weight: 300;
  font-family: 'Noto Sans TC', sans-serif;
}